body { 
  background-color: #cdeff4
}

h1 {
  color: red;
  text-align: center;
}

h2 {
  text-align: center;

}

.begin_screen_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.join_link {
  color: black;
  text-align: center;
}




#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}